{% extends 'base.html' %}

{% block title %}{{ category }} Recipes - Recipeasy{% endblock %}

{% block content %}
    <h1>{{ category }} Recipes</h1>
    {% if recipes %}
        <ul>
        {% for recipe in recipes %}
            <li>
                <h2><a href="{{ url_for('recipe_detail', recipe_id=recipe.id) }}">{{ recipe.title }}</a></h2>
                <img src="{{ url_for('static', filename='images/' ~ recipe.image_filename) }}" alt="{{ recipe.title }}" class="recipe-image">
                <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
                <p><strong>Instructions:</strong> {{ recipe.method }}</p>
                
                <!-- Tags as Links -->
                <div class="tags">
                    {% if recipe.tags %}
                        {% set tags = recipe.tags.split(' ') %}
                        {% for tag in tags %}
                            {% if tag %} <!-- Check for non-empty tag -->
                                <a href="/search?q={{ tag }}" class="tag-link">{{ tag }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No recipes found in this category.</p>
    {% endif %}
{% endblock %}
